<form asp-action="Index">
<p>
    <label>Hệ số A:</label>
    <input type="text" name="hesoA">
</p>
<p>
    <label>Hệ số B:</label>
    <input type="text" name="hesoB"> 
</p>
<p>
    <label>Hệ số C:</label>
    <input type="text" name="hesoC">
</p>
<p>
    <input type="submit" value = "giai phuong trinh">
</p>
</form>
<h2>@ViewBag.message</h2>